<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <title> nykaa</title>

</head>
    <body>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
    <a href="/index"> NYKAA </a><br>
    <a href="/student"> REGISTER </a><br>
    <a href="/admin"> ADMIN </a>


    <p><h2><center>NYKAA(My first online site)</p></h2></center>
       <br>
      <center> <img src="{% static "images/django2.png" %}" alt="Runon Local Host!"></center>

      <p><h3>Hey! Welcome to my website. You will find anything related about cosmetics.We are having the cosmetics of top brands like of</p></h3>
      <ol>
      <li>Lakme</li>
      <li>NYX</li>
      <li>Huda Beauty</li>
      <li>Kylie</li>
      <li>Blue heaven</li>
      </ol>
      <p> And many more too.To know more about my site so first register here</p>
</body>
</html>
